.Rproj.user
.Rhistory
.RData
.Ruserdata
.behav3d_dev
.claude
**/__pycache__
*.ilp
*.tiff
test.py
build/
docs/build/
**/.DS_Store
**/.egg-info
*.egg-info
.ipynb_checkpoints/
napari/.config/behav3d_env.json
napari/analysis_ui_config.json
assistant_log.md
